[submodule "polycoder/megatron/tokenizer/tokompiler"]
	path = polycoder/megatron/tokenizer/tokompiler
	url = https://github.com/Scientific-Computing-Lab-NRCN/Tokompiler.git
[submodule "polycoder_huggingface"]
	path = polycoder_huggingface
	url = https://github.com/nevakrien/polycoder_huggingface
[submodule "polycoder/tasks/omp/hf/generations/analysis/CodeXGLUE"]
	path = polycoder/tasks/omp/hf/generations/analysis/CodeXGLUE
	url = https://github.com/microsoft/CodeXGLUE
[submodule "polycoder/tasks/omp/hf/generations/analysis/code_bert_score"]
	path = polycoder/tasks/omp/hf/generations/analysis/code_bert_score
	url = https://github.com/neulab/code-bert-score
